/* 全局 */
* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 20px 0;
}

article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 页面 */


p {
    margin: 0.3em 0;
  }

  h1 {
    font-size: 25px;
    margin-top: 0;
  }

  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  strong {
    font-weight: normal;
    color: #f60;
  }

  a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px solid;
  }

  p,
  li {
    color: #666;
  }

  strong {
    font-weight: normal;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .bio {
    position: relative;
  }

  .bio img {
    position: absolute;
    top: 0;
    right: 0;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  span{
    color: #666;
  }
  .QRcode{
      height: 100px;
      width: 100px;
      float: right;
  }


  .concat-wrap{
    display: inline-block;
  }
  .concat {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainTech{
    margin-bottom: 8px;
  }
  .techIntroduc{
    margin-bottom: 8px;
  }


/* 表单 */
  .projects p {
    color: #666;
  }

  .projects strong {
    color: #f60;
  }

  .projects > ol {
    margin-top: 0;
    list-style-position: inside;
    padding: 0;
  }

  .projects > ol > li {
    margin-bottom: 40px;
  }

  .projects > ol > li > header {
    display: flex;
    justify-content: space-between;
  }

  .projects > ol > li h3 {
    display: inline-block;
  }
  .QRcode > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .MoneyShow > img{
      height: auto;
      width: 248px;
  }
  .uiShow > img, .navShow > img{
      width: 745px;
      height: auto;
  }
  .mainTech > span {
    font-weight: bold;
    color: #299acc;
  }


  /* 媒体查询 */
  @media print {
    #skills {
      display: none;
    }
  }

  .skills > .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .skills > .wrapper > :first-child {
    margin-right: 24px;
  }

  .skills > .wrapper > ul {
    color: #666;
  }

  .skills > .wrapper strong {
    color: #f60;
  }

  .skills > .wrapper > ul > li {
    line-height: 1.2;
    margin-bottom: 8px;
  }


  .openSource header img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .openSource > ul > li {
    margin-bottom: 24px;
  }

  .openSource header {
    position: relative;
    display: flex;
    justify-content: space-between;
  }






